Powerapp solution Export/THFinanceCashCollection_1_0_0_4/Workflows/THFinanceCashCollectionManualEmailResend-A84F2134-97A7-F011-BBD2-0022485A6E32.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_7e300"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_50b72"
        },
        "runtimeSource": "embedded"
      },
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "nc_sharedsharepointonline_80205"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "94cf5de0-f3af-4e06-a9d7-19daf450a1e0"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "EmailLogID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "GUID of EmailLog record to resend",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_varEmailLogID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ad810b77-567b-47ad-ae4d-34ebc6b0be06"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varEmailLogID",
                "type": "string",
                "value": "@triggerBody()['text']"
              }
            ]
          }
        },
        "Get_EmailLog": {
          "runAfter": {
            "Initialize_varEmailLogID": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr7bb_thfinancecashcollectionemaillogs",
              "recordId": "@variables('varEmailLogID')"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            }
          }
        },
        "Get_Customer": {
          "runAfter": {
            "Get_EmailLog": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr7bb_thfinancecashcollectioncustomers",
              "recordId": "@outputs('Get_EmailLog')?['body/_cr7bb_customer_value']"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            }
          }
        },
        "Get_QR_Code": {
          "runAfter": {
            "Get_Customer": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "c3d4e5f6-a7b8-9012-cdef-123456789012"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://nestle.sharepoint.com/teams/THFinancePowerPlatformSolutions",
              "path": "/Shared Documents/Cash Customer Collection/02-Customer-QR-Codes/@{outputs('Get_Customer')?['body/cr7bb_customercode']}.jpg"
            },
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFileContent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            }
          }
        },
        "Send_Email": {
          "runAfter": {
            "Get_QR_Code": ["Succeeded", "Failed"]
          },
          "metadata": {
            "operationMetadataId": "d4e5f6a7-b8c9-0123-def0-123456789013"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "emailMessage/To": "@outputs('Get_EmailLog')?['body/cr7bb_recipientemails']",
              "emailMessage/Subject": "@outputs('Get_EmailLog')?['body/cr7bb_emailsubject']",
              "emailMessage/Body": "@outputs('Get_EmailLog')?['body/cr7bb_emailbodypreview']",
              "emailMessage/Cc": "@outputs('Get_EmailLog')?['body/cr7bb_ccemails']",
              "emailMessage/Attachments": "@if(equals(outputs('Get_QR_Code')?['statusCode'], 200), createArray(json(concat('{\"Name\":\"', outputs('Get_Customer')?['body/cr7bb_customercode'], '_QRCode.jpg\",\"ContentBytes\":\"', base64(body('Get_QR_Code')), '\"}'))), createArray())",
              "emailMessage/Importance": "@{if(greaterOrEquals(outputs('Get_EmailLog')?['body/cr7bb_maxdaycount'], 3), 'High', 'Normal')}"
            },
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            }
          }
        },
        "Update_EmailLog": {
          "runAfter": {
            "Send_Email": ["Succeeded", "Failed", "TimedOut"]
          },
          "metadata": {
            "operationMetadataId": "e5f6a7b8-c9d0-1234-ef01-234567890123"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr7bb_thfinancecashcollectionemaillogs",
              "recordId": "@variables('varEmailLogID')",
              "item/cr7bb_sendstatus": "@if(equals(outputs('Send_Email')?['statusCode'], 200), 'Success', 'Failed')",
              "item/cr7bb_sentdatetime": "@utcNow()",
              "item/cr7bb_errormessage": "@if(equals(outputs('Send_Email')?['statusCode'], 200), '', outputs('Send_Email')?['error']?['message'])"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            }
          }
        },
        "Respond_to_PowerApp": {
          "runAfter": {
            "Update_EmailLog": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "1eb44b89-5234-48a4-b809-ba7f41a061e5"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "status": "@if(equals(outputs('Send_Email')?['statusCode'], 200), 'Success', 'Failed')",
              "message": "@if(equals(outputs('Send_Email')?['statusCode'], 200), concat('Email sent to ', outputs('Get_EmailLog')?['body/cr7bb_recipientemails']), concat('Failed: ', outputs('Send_Email')?['error']?['message']))"
            },
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "title": "Status",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "message": {
                  "title": "Message",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}