Powerapp solution Export/THFinanceCashCollection_1_0_0_4/Workflows/THFinanceCashCollectionEmailSendingFlow-E5D6DFB8-97A7-F011-BBD3-6045BD1F07E5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_7e300"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_50b72"
        },
        "runtimeSource": "embedded"
      },
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "nc_sharedsharepointonline_80205"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "timeZone": "SE Asia Standard Time",
            "startTime": "2025-10-13T03:00:00Z",
            "schedule": {
              "hours": [
                "10"
              ],
              "minutes": [
                0
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "226c7e23-173d-4b0d-af69-243471ed989e"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_varProcessDate": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5d5a522e-4c88-4955-a9c7-c4b6b56098ec"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProcessDate",
                "type": "string",
                "value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')"
              }
            ]
          }
        },
        "Initialize_varEmailsSent": {
          "runAfter": {
            "Initialize_varProcessDate": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varEmailsSent",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varEmailsFailed": {
          "runAfter": {
            "Initialize_varEmailsSent": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varEmailsFailed",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "List_Approved_EmailLogs": {
          "runAfter": {
            "Initialize_varEmailsFailed": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "c3d4e5f6-a7b8-9012-cdef-123456789012"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr7bb_thfinancecashcollectionemaillogs",
              "$filter": "cr7bb_approvalstatus eq 676180001 and cr7bb_processdate eq '@{variables('varProcessDate')}'",
              "$orderby": "createdon asc"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            }
          }
        },
        "Apply_to_each_EmailLog": {
          "foreach": "@outputs('List_Approved_EmailLogs')?['body/value']",
          "actions": {
            "Get_Customer": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d4e5f6a7-b8c9-0123-def0-123456789013"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr7bb_thfinancecashcollectioncustomers",
                  "recordId": "@items('Apply_to_each_EmailLog')?['_cr7bb_customer_value']"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                }
              }
            },
            "Get_QR_Code": {
              "runAfter": {
                "Get_Customer": ["Succeeded"]
              },
              "metadata": {
                "operationMetadataId": "e5f6a7b8-c9d0-1234-ef01-234567890123"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://nestle.sharepoint.com/teams/THFinancePowerPlatformSolutions",
                  "path": "/Shared Documents/Cash Customer Collection/02-Customer-QR-Codes/@{outputs('Get_Customer')?['body/cr7bb_customercode']}.jpg"
                },
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetFileContent",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                }
              }
            },
            "Send_Email": {
              "runAfter": {
                "Get_QR_Code": ["Succeeded", "Failed"]
              },
              "metadata": {
                "operationMetadataId": "f6a7b8c9-d0e1-2345-f012-345678901234"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "@items('Apply_to_each_EmailLog')?['cr7bb_recipientemails']",
                  "emailMessage/Subject": "@items('Apply_to_each_EmailLog')?['cr7bb_emailsubject']",
                  "emailMessage/Body": "@items('Apply_to_each_EmailLog')?['cr7bb_emailbodypreview']",
                  "emailMessage/Cc": "@items('Apply_to_each_EmailLog')?['cr7bb_ccemails']",
                  "emailMessage/Attachments": "@if(equals(outputs('Get_QR_Code')?['statusCode'], 200), createArray(json(concat('{\"Name\":\"', outputs('Get_Customer')?['body/cr7bb_customercode'], '_QRCode.jpg\",\"ContentBytes\":\"', base64(body('Get_QR_Code')), '\"}'))), createArray())",
                  "emailMessage/Importance": "@{if(greaterOrEquals(items('Apply_to_each_EmailLog')?['cr7bb_maxdaycount'], 3), 'High', 'Normal')}"
                },
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                }
              }
            },
            "Update_EmailLog_Success": {
              "runAfter": {
                "Send_Email": ["Succeeded"]
              },
              "metadata": {
                "operationMetadataId": "a7b8c9d0-e1f2-3456-0123-456789012345"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr7bb_thfinancecashcollectionemaillogs",
                  "recordId": "@items('Apply_to_each_EmailLog')?['cr7bb_thfinancecashcollectionemaillogid']",
                  "item/cr7bb_sendstatus": "Success",
                  "item/cr7bb_sentdatetime": "@utcNow()"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                }
              }
            },
            "Update_EmailLog_Failed": {
              "runAfter": {
                "Send_Email": ["Failed", "TimedOut"]
              },
              "metadata": {
                "operationMetadataId": "b8c9d0e1-f2a3-4567-1234-567890123456"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr7bb_thfinancecashcollectionemaillogs",
                  "recordId": "@items('Apply_to_each_EmailLog')?['cr7bb_thfinancecashcollectionemaillogid']",
                  "item/cr7bb_sendstatus": "Failed",
                  "item/cr7bb_sentdatetime": "@utcNow()",
                  "item/cr7bb_errormessage": "@outputs('Send_Email')?['error']?['message']"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                }
              }
            },
            "Increment_EmailsSent": {
              "runAfter": {
                "Update_EmailLog_Success": ["Succeeded"]
              },
              "metadata": {
                "operationMetadataId": "c9d0e1f2-a3b4-5678-2345-678901234567"
              },
              "type": "IncrementVariable",
              "inputs": {
                "name": "varEmailsSent",
                "value": 1
              }
            },
            "Increment_EmailsFailed": {
              "runAfter": {
                "Update_EmailLog_Failed": ["Succeeded"]
              },
              "metadata": {
                "operationMetadataId": "d0e1f2a3-b4c5-6789-3456-789012345678"
              },
              "type": "IncrementVariable",
              "inputs": {
                "name": "varEmailsFailed",
                "value": 1
              }
            }
          },
          "runAfter": {
            "List_Approved_EmailLogs": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "e1f2a3b4-c5d6-7890-4567-890123456789"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}